NIMBA_SERVICE_ID=21eca98f7fa0724162bac3dbf1387441
NIMBA_SECRET_TOKEN=dZfuiO0vSeNDUejd-HuZfI-HE5B6s19ioYBLoIMLco-8cLlpxK_ArhxjYxtZnrAQw13DpSV3HeaCyK1RYfPhXGuTP96QoEXsV9-s1ESiQrM
NIMBA_SENDER_NAME=Dom G Store